.site-footer{
    overflow-x: hidden;
}
.container{
    width: 100%;
    background-color: rgb(241,241,241);
    display: flex;
    justify-content: center;
    padding: 2%;
    height: 70px;
}
.img1{
    height: 50px;
}
.text-center p{
    text-align: center;
    color: grey;
}